
.off {
    @include breakpoint(mobile) {
        display: none !important;
    }
}


/* maincolor
------------------------------------------------------------ */

$main-green: #B1CB40;
$lightgreen: #EAF1CE;
////////////////////////////////////////////////////
// 共通
////////////////////////////////////////////////////
.content {
    margin-top: 0px;
}

////////////////////////////////////////////////////
// headerコンテンツ
////////////////////////////////////////////////////
.header-in {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    .logo-text {
        padding: 0;
        font-size: 1em;
        margin: 0;
        font-size: 2.5rem;
        a {
            color: $main-green;
            .site-name-text {
                font-size: 6rem;
                font-weight: bold;
                font-style: italic;
            }
        }
        &::after {
            content: "";
            padding-left: 10px;
        }
    }
    p {
        padding: 0 10px;
        margin: 0;
    }
}


/* Navi
------------------------------------------------------------ */

.navi {
    background: $lightgreen;
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        flex: 1 1;
        padding: 3px 0px;
        /* 余白（縦 横） */
        li {
            // width: calc((100%-10px) / 6);
            width: 206px;
            a {
                font-weight: bold;
                background: #fff;
            }
        }
        .current_page_item {
            a {
                background: $main-green;
                color: #fff;
            }
        }
    }
}


/* HEAD検索
------------------------------------------------------------ */

.head-search {
    background: #B1CB40;
    background: #B1CB40;
    padding: 50px 0px;
    h2 {
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 0;
    }
    .search_container {
        box-sizing: border-box;
        position: relative;
        border: 2px solid #fff;
        padding: 3px 10px;
        border-radius: 20px;
        height: 2.3em;
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }
    .search_container input[type="text"] {
        border: none;
        height: 2.1em;
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        left: -10px;
        top: -3px;
        padding-left: 17px;
    }
    .search_container input[type="text"]:focus {
        outline: 0;
    }
    .search_container input[type="submit"] {
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        background: #333;
        color: #fff;
        position: absolute;
        width: 3em;
        height: 3.0em;
        right: -4px;
        top: -25px;
        /* outline: none; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0%;
        line-height: 0;
        font-size: 28px;
    }
}


/* SLIDER
------------------------------------------------------------ */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 300px;
    height: auto;
    overflow: visible;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    ul {
        padding: 0%;
        margin: 0%;
    }
}

.mainvisual {
    overflow-x: hidden;
    height: 300px;
}


/* search_btn
------------------------------------------------------------ */

.search_btn {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li {}
    }
}

// TOPコンテンツ
////////////////////////////////////////////////////
// FOOTER COPYRIGHT
////////////////////////////////////////////////////
footer {}

////////////////////////////////////////////////////
// 404エラー
////////////////////////////////////////////////////
.notfound-inner-wrapper {
    .notfound-title {
        text-align: center;
    }
    .backtohome {
        text-align: center;
    }
}